@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 1170px;
    margin:  0 auto;
}
.awesome-title {
    font-size: 32px;
    color: #212121;
    margin-top: 85px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
}
.awesome-line {
    width: 64px;
    height: 2px;
    background-color: #D98943;
    margin-top: 25px;
    margin-bottom: 30px;
}
.awesome-subtitle {
    font-size: 14px;
    color: #86878B;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
}
.awesome-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 37px;
}
.awesome-card__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 350px;
    margin: 30px 16px 0px 16px;
}
.awesome-card__item-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 1px solid #D98943;
    border-radius: 100%;
}
.awesome-card__item-title {
    font-size: 20px;
    color: #333333;
    margin-top: 30px;

    font-family: 'Open Sans';
}
.awesome-card__item-info {
    font-size: 14px;
    color: #000000;
    margin-top: 16px;

    font-family: 'Open Sans';
    text-align: center;
}