@import url("../css/container.css");
@import url("../css/pricing.css");
*{
    margin: 0px;
    padding: 0px;
}

.awesome{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.pricing{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #E5E5E5;
}

h2 {
    font-size: 32px;
    color: #212121;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
}

h4 {
    font-size: 14px;
    color: #86878B;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
}

h3 {
    font-size: 20px;
    color: #333333;
    font-weight: bold;
    font-family: 'Open Sans';
}