.axitpage{
    background: url(../img/background-1\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.axitpage__full{
    display: flex;
    min-height: 100vh;
}
.axitpage:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    z-index: 0;
}
.axitpage-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 110px 0;

    /* min-height: 100vh; */
}

/* BOX WITH TEXT CONTENT */
.axit-content{
    max-width: 570px;
    text-align: left;
    margin: 0 45px; 
    padding-bottom: 60px;  
}
/* FORM */
.axit-form-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: stretch; */

    max-width: 370px;
    border-radius: 8px;
    background-color: #ffffff;
    margin: 0 45px;
}

.axit-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 70px;
}

#axit-name,
#axit-email,
#axit-password{
    border: 0;
    border-bottom: 2px solid #BDBDBD;
    width: 100%;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #BDBDBD;
    padding: 19px 0;
    transition: all linear .3s;
}
#axit-name:focus,
#axit-email:focus,
#axit-password:focus{
    outline: none;
    background-color: #f7f9fa;
    color: #000000;
    padding-left: 5px;
}
    /* FORM_BUTTON */
#axit-submit{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    background-color: #EC7979;
    border: 0;
    border-radius: 0 0 8px 8px;
    padding: 20px 0;
    margin-top: 60px;
    transition: all linear 0.3s;
}
#axit-submit:hover{
    background-color: rgba(236, 121, 121,0.3);
    color: #f54c4c;
}
#axit-submit:focus{
    outline: none;
    background-color: rgba(236, 121, 121,0.8);
}
    /* FORM_BUTTON_END */
/* FORM_END */

/* LINK */
.axit-button{
    text-decoration: none;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    padding: 11px 26px;
    border: 1px solid #ffffff;
    transition: all linear 0.3s;
}
.axit-button:hover{
    background-color: #ffffff;
    color: black;   
}
/* .axit-form__link{
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    background-color: #EC7979;
    border-radius: 0 0 8px 8px;
    padding: 20px 0;
    transition: all linear 0.3s;
} */
/* .axit-form__link:hover{
    background-color: rgba(236, 121, 121,0.3);
    color: #f54c4c;
} */
/* FONTS */
.axit-title{
    font-family: 'Raleway';
    font-size: 60px;
    font-weight: normal;
    line-height: 70px;
    color: #ffffff;
    margin-bottom: 32px;
}

.axit-title-second{
    color: #EC7979;
}
.axit-subtitle{
    color: #ffffff;
    font-weight: normal;
    line-height: 42px;
}
.axit-subtitle::after{
    content: "";
    display: block;
    width: 64px;
    height: 2px;
    background-color: #ffffff;
    margin-top: 42px;
    margin-bottom: 39px;
}
p.axit-text{
    max-width: 250px;
    font-family: 'Raleway';
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 55px;
}
    /* FORM_FONT */
.axit-form-box__title{
    color: #000000;
    margin: 15px;
    margin-bottom: 30px;
}
.axit-form-box__title-marked{
    color: #EC7979;
}

/* Adaptive */
@media screen and (max-width: 1167px){
    .axitpage-box{
        padding: 60px 0;
    }
    .axit-content{
        max-width: 500px;
    }
    .axit-title{
        display: none;
    }
    /* .axit-subtitle{
        font-size: 25px;
    } */
    .axit-content,
    .axit-form-box{
        margin: 0 25px;
    }
    .axit-form-box{
        max-width: 350px;
    }
}
@media screen and (max-width: 1000px){
    .axit-content{
        max-width: 450px;
    }
}
@media screen and (max-width: 1047px){
    .axit-content{
        max-width: 420px;
    }
}
@media screen and (max-width: 960px){
    .axit-content{
        max-width: 380px;
    }
}
@media screen and (max-width: 930px){
    .axit-content{
        max-width: 350px;
    }
}
/* @media screen and (max-width: 896px){
    .axit-content,
    .axit-form-box{
        margin: 0 15px;
    }
} */
@media screen and (max-width: 857px){
    .axitpage:after{
        background: rgba(0, 0, 0, 0.6);
    }
    .axitpage-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
    }
    .axit-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        width: 100%;
        margin: 0;
        text-align: center;
        padding-bottom: 20px;
    }
    .axit-subtitle{
        max-width: 450px;
    }
    .axit-subtitle::after{
        /* width: 450px; */
        margin: 10px auto;
        margin-top: 20px;
    }
    p.axit-text{
        max-width: 450px;
        margin: 0;
        margin: 15px 0;
        margin-bottom: 20px;
        color: #ffffff;
    }
    .axit-button{
        padding: 20px 187px;
    }
    .axit-form-box{
        max-width: 450px;
        border-radius: 0 0 8px 8px;
        margin: 15px 0;
    }
}
@media screen and (max-width: 573px){
    .axitpage-box{
        padding-top: 28px;
        padding-bottom: 15px;
    }

    .axitpage:after{
        background: rgba(0, 0, 0, 0.7);
    }
    .axit-subtitle::after{
        /* width: 90%; */
    }
    .axit-button{
        width: 100%;
        background-color: #ffffff;
        color: #000000;
        padding: 25px 0;
        text-transform: uppercase;
        font-size: 20px;
    }

    .axit-form-box{
        max-width: 100%;
        margin: 0;
    }
    .axit-form{
        padding: 0 45px;
    }
    #axit-submit{
        font-size: 20px;
        text-transform: uppercase;
        line-height: 20px;
        padding: 25px 0;
    }
}