.axit{
    background: url(../img/background-1\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 50px;
    height: 500px;
}