*{
    position: relative;
    z-index: 2;
}
/* LINK */
.axure-button{
    text-decoration: none;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    padding: 11px 26px;
    border: 1px solid #ffffff;
    transition: all linear 0.3s;
}
.axure-button:hover{
    background-color: #ffffff;
    color: black;   
}
/* FONTS */
.axure-title{
    margin-top: 58px;
    color: #ffffff;
}
.axure-title::after{
    content: "";
    width: 64px;
    height: 2px;
    display: block;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 30px;
}
.axure-subtitle{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 58px;
}

