.contact-box{
    padding: 65px 0;
}

/* LINK */

.contact-link{
        text-decoration: none;
        font-family: 'Open Sans';
        font-size: 15px;
        font-weight: 600;
        color: #ffffff;
        padding: 11px 26px;
        border: 1px solid #EC7979;
        background-color: #EC7979;
        transition: all linear 0.3s;
    }
    .contact-link:hover{
        background-color: #ffffff;
        color: #EC7979;   
    }
/* FONTS */
.contact-title{
    
}
.contact-subtitle{
    margin-bottom: 200px;
}