.foot{
    background-color: #000;
}
.foot-box{
    padding: 25px 0;
}
.footer-media-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 350px;
    margin: 0 auto;
}
/* ICONS */
.footer_media_icon{
    text-decoration: none;
    font-size: 20px;
    color: #F5F5F5;
    padding: 10px 10px;
    margin: 0 5px;
}

/* FONT */
.footer-text{
    padding-top: 4px;
}


