.header{
    background-color: #000000;
}
.header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* align-content: space-around; */
    flex-wrap: wrap;
    padding: 15px 0;
}
/* LOGO */
.head__logo{
    padding: 0px 45px;
}
/* NAVIGATION */
.navi{
    margin: 0 21px;
}
.navi-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.navi-item{
    margin: 10px 12px;
    list-style-type: none;
}
/* NAVIGATION_END */

/* LINK */
.navi-link{
    text-decoration: none;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);
    list-style-type: none;
    border-radius: 5px;
    padding: 5px 12px;
    transition: all linear 0.3s;
}
.navi-link:hover{
    background-color: #e8e8e8;
    color: black; 
}

/* FONTS */
.logo-text{
    font-family: "Raleway";
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;
    margin: 0 auto;
}
.logo-text-second{
    color: #EC7979;
}

/* Mobile_Navi */
.navi-mobile{
    /* position: relative; */
    display: none;

}
#navi-checkbox{
    display: none;
}
.navi-label{
    display: block;
    align-self: flex-end;
    cursor: pointer;
    /* position: absolute;
    top: 3px;
    right: 15px; */
    margin-right: 10px;
}
.navi-lable_line{
    width: 35px;
    height: 2px;
    background-color: #ffffff;
    border: 0;
    box-sizing: border-box;
    transition: all 0.3s;
}
.navi-lable_line:nth-child(1){
    position: relative;
    top: -2px;
    transition: all 0s;
}
.navi-lable_line:nth-child(2){
    position: relative;
    top: 2px;
}
.navi-lable_line:nth-child(3){
    position: relative;
    top: 0px;
}
.navi-lable_line:nth-child(4){
    position: relative;
    top: 4px;
    transition: all 0s;
}
.navi-mobile-box{
    display: block;
    /* text-align: left; */
    position: relative;
    max-width: 250px;
    top: 20px;
    right: -15px;
    list-style-type: none;
    height: 0;
    font-size: 0;
    transition: all 0.3s;
}
/* .navi-mobile-item{
    width: 100%;
    text-align: start;
} */
.navi-mobile-link{
    display: block;
    width: 100%;
    text-decoration: none;
    font-family: 'Open Sans';
    color: rgba(255, 255, 255, 0.7);
    background-color: #000000;
    transition: all 0.1s;
    
}
#navi-checkbox:checked ~ .navi-label .navi-lable_line:nth-child(3n+1){
    visibility: hidden;
}
#navi-checkbox:checked ~ .navi-label .navi-lable_line:nth-child(2){
    transform: rotate(45deg);
}
#navi-checkbox:checked ~ .navi-label .navi-lable_line:nth-child(3){
    transform: rotate(-45deg);
}
#navi-checkbox:checked ~ .navi-mobile-box {
    max-height: 100%;
    font-size: 15px;
}
#navi-checkbox:checked ~ .navi-mobile-box .navi-mobile-link{
    padding: 10px 0;
}


/* Adaptive */
@media screen and (max-width: 745px){
    .head__logo{
        padding: 0;
        padding-left: 25px;
    }
    .navi{
        /* width: 100%; */
        margin: 0;
    }
}
@media screen and (max-width: 640px){
    .navi{
        display: none;
    }
    .head__logo{
        /* margin: 0 auto; */
        padding: 0 10px;
    }
    .navi-mobile{
        display: flex;
        flex-direction: column;
        width: 150px;
    }
}
/* @media screen and (max-width: 573px){
    header{
        position: fixed;
        z-index: 5;
        width: 100%;
    }
} */