.header{
    background-color: #000000;
}
.header-box{
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
    padding: 15px 0;
}
/* LOGO */
.head__logo{
    padding: 0px 45px;
}
/* NAVIGATION */
.navi{
    margin-left: 21px;
    margin-right: 21px;
}
.navi-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.navi-item{
    margin: 10px 12px;
    list-style-type: none;
}
/* NAVIGATION_END */

/* LINK */
.navi-link{
    text-decoration: none;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);
    list-style-type: none;
    border-radius: 5px;
    padding: 5px 12px;
    transition: all linear 0.3s;
}
.navi-link:hover{
    background-color: #e8e8e8;
    color: black; 
}

/* FONTS */
.logo-text{
    font-family: "Raleway";
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;
    margin: 0 auto;
}
.logo-text-second{
    color: #EC7979;
}