.socialmedia{
    background-color: #F8EFEF;
}
.socialmedia-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 0; 
}
.media-description{
    display: flex;
    flex-direction: column;
    margin: 0px 45px;
}
/* BOX_FOR_ICONS */
.media-box{
    
    margin: 0 15px;
}
.media-box-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}
/* ICONS-LINK */
.fab{
    text-decoration: none;
    margin: 5px 10px;
    padding: 15px 15px;
    font-size: 35px;
    color: #c7c5c5;
    transition: all linear .3s;
}
.fab:hover{
    color: #6273c4;
    transform: scale(1.3)
}

/* LINK */
/* .media-link{
    text-decoration: none;
    margin: 5px 10px;
} */

/* FONTS */
.media-title{
    line-height: 27px;
    text-align: left;
    padding-bottom: 14px;
}

.media-description__text{
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    max-width: 360px;
    color: #86878B;
}