.pricing{
    align-items: center;
    background-color: #E5E5E5;
}
.pricing-box{
    padding: 65px 0;
}
/* CARDS_AREA */
.pricing-card__box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* margin: 0 -30px; */
    margin-top: 60px;
}
/* CARDS */
.pricing-card{
    max-width: 340px;
    width: 100%;
    margin: 20px 20px;
}
.pricing-card__item{
    padding-top: 10px;
    padding-bottom: 11px;
    margin-bottom: 4px;
    list-style-type: none;
    background-color: #ffffff;
    font-family:'Open Sans';
    font-size: 14px;
    color: #86878B;
}
.price-title,
.price-cost,
.price-info{
    background-color: #333333;
    color: #ffffff;
    font-weight: bold;
}
.price-title{
    padding-top: 15px;
    padding-bottom: 8px;
    margin-bottom: 1px;
    font-size: 20px;
}
.price-cost{
    padding-top: 26px;
    padding-bottom: 33px;
    margin-bottom: 2px;
    font-family: 'Raleway';
    font-size: 35px;
}
.price-info,
.price-info-selected{
    padding-top: 17px;
    padding-bottom: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
}
.price-info-selected{
    background-color: #D98943;
}
/* CARDS_END */

/* FONTS */
.pricing-title{

}
.price-currency{
    font-size: 37px;
}

/* Mobile */
#price-mobile-check,
#price-mobile-check_second,
#price-mobile-check_third{
    display: none;
}
.price-mobile__lable{
    font-size: 16px;
    display: block;
    padding-top: 5px;
    padding-bottom: 10px;
    cursor: pointer;
    text-transform: uppercase;
}
/* .price-mobile__lable::before{
    display: none;
    content: "";
    position: relative;
    top: 28px;
    width: 15px;
    height: 2px;
    background-color: #ffffff;
    margin: 2px auto;
    transition: all linear 0.3s;
} */
.price-mobile__lable::after{
    display: block;
    content: "";
    width: 85px;
    height: 2px;
    background-color: #ffffff;
    margin: 2px auto;
    transition: all linear 0.3s;
}
.price-mobile{
    display: none;
    /* width: 100%; */
    list-style-type: none;
    background-color: #D98943;
    color: #ffffff;
    font-family:'Open Sans';
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0;
}
.price-mobile__item{
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    list-style-type: none;
    background-color: #ffffff;
    font-family:'Open Sans';
    font-size: 0;
    color: #86878B;
    transition: all 0.3s;
}
.price-mobile__item:nth-child(1){
    background-color: #c0bdbd;
    color: #ffffff;
    font-weight: bold;
}


#price-mobile-check:checked ~.price-mobile__box .price-mobile__item,
#price-mobile-check_second:checked ~.price-mobile__box .price-mobile__item,
#price-mobile-check_third:checked ~.price-mobile__box .price-mobile__item{
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 11px;
    /* margin-bottom: 4px; */
    border-bottom: 1px solid #c0bdbd;
}
/* #price-mobile-check:checked ~.price-mobile__lable,
#price-mobile-check_second:checked ~.price-mobile__lable,
#price-mobile-check_third:checked ~.price-mobile__lable{
    font-size: 0;
} */

/* #price-mobile-check:checked ~.price-mobile__lable::before,
#price-mobile-check_second:checked ~.price-mobile__lable::before,
#price-mobile-check_third:checked ~.price-mobile__lable::before{
    display: block;
    transform: rotate(-45deg);
} */

#price-mobile-check:checked ~.price-mobile__lable::after,
#price-mobile-check_second:checked ~.price-mobile__lable::after,
#price-mobile-check_third:checked ~.price-mobile__lable::after{
    width: 90%;
}



@media screen and (max-width: 810px){
    .pricing-box{
        padding: 20px 0;
    }
    .pricing-title{
        font-size: 25px;
    }
    .pricing-card__box{
        margin-top: 15px;
    }
    .pricing-card__item:nth-child(n+3){
        display: none;
    }
    .price-mobile{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    .pricing-card{
        max-width: 450px;
    }
}