.pricing-card__box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 62px;
}
.pricing-card{
    width: 340px;
    margin-bottom: 67px;
}
.pricing-card__item{
    padding-top: 10px;
    padding-bottom: 11px;
    margin-bottom: 4px;
    list-style-type: none;
    background-color: #ffffff;
    font-family:'Open Sans';
    font-size: 14px;
    color: #86878B;
}
.price-title,
.price-cost,
.price-info{
    background-color: #333333;
    color: #ffffff;
    font-weight: bold;
}
.price-title{
    padding-top: 15px;
    padding-bottom: 8px;
    margin-bottom: 1px;
    font-size: 20px;
}
.price-cost{
    padding-top: 26px;
    padding-bottom: 33px;
    margin-bottom: 2px;
    font-family: 'Raleway';
    font-size: 35px;
}
.price-info,
.price-info-selected{
    padding-top: 17px;
    padding-bottom: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
}
.price-info-selected{
    background-color: #D98943;
}


/* FONTS */
.pricing-title{
    padding-top: 65px;
    /* padding-top: 45px; */

}
.price-currency{
    font-size: 37px;
}