@import url("../css/head.css");
@import url("../css/axit.css");
@import url("../css/media.css");
@import url("../css/awesome.css");
@import url("../css/pricing.css");
@import url("../css/customers.css");
@import url("../css/axure.css");
@import url("../css/contact.css");
@import url("../css/footer.css");

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* SECTIONS */

.pricing{
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
    align-items: center;
    background-color: #E5E5E5;
}
.customers{

}
.axure{
    background: url(../img/background1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 50px;
}
.axure::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.55);
    top: 0;
    left: 0;
    z-index: 1;
}
/* CONTAINER */
.container {
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
    align-items: center;
    text-align: center;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    z-index: 2;

    /* border: 2px solid black; */
}

/* FONTS */
h2 {
    font-size: 36px;
    color: #212121;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
}
/* Line after page title */
h2.awesome-title::after,
h2.pricing-title::after,
h2.feedback-title::after,
h2.contact-title::after{
    content: "";
    width: 64px;
    height: 2px;
    display: block;
    background-color: #D98943;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 30px;
}
h3 {
    font-size: 20px;
    color: #333333;
    font-weight: bold;
    font-family: 'Open Sans';
}
h4 {
    font-size: 14px;
    color: #86878B;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
}
h5{
    font-family: 'Open Sans';
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}
